.brand-comphealth {
    --brand-primary-25: #F0ECF3;
    --brand-primary-50: #EAE4EE;
    --brand-primary-100: #CCC4D7;
    --brand-primary-200: #AEA3BC;
    --brand-primary-300: #8F7FA1;
    --brand-primary-400: #79658D;
    --brand-primary-500: #644D7B;
    --brand-primary-600: #5E4775;
    --brand-primary-700: #553F6C;
    --brand-primary-800: #4B3A62;
    --brand-primary-900: #3C304C;

    --brand-secondary-25: #FFFBFA;
    --brand-secondary-50: #FEF3F2;
    --brand-secondary-100: #FDE5E3;
    --brand-secondary-200: #FCD0CC;
    --brand-secondary-300: #F9AFA8;
    --brand-secondary-400: #F48075;
    --brand-secondary-500: #EA5C4F;
    --brand-secondary-600: #D63A2C;
    --brand-secondary-700: #B42D21;
    --brand-secondary-800: #95291F;
    --brand-secondary-900: #7C2820;

    --brand-tertiary-25: #FEF9F5;
    --brand-tertiary-50: #FEF4EC;
    --brand-tertiary-100: #FDE9D8;
    --brand-tertiary-200: #FBCEAC;
    --brand-tertiary-300: #F69E60;
    --brand-tertiary-400: #F38744;
    --brand-tertiary-500: #EF681F;
    --brand-tertiary-600: #E05215;
    --brand-tertiary-700: #BA3F12;
    --brand-tertiary-800: #953718;
    --brand-tertiary-900: #793016;

    --brand-quaternary-25: #FBFDFE;
    --brand-quaternary-50: #F1F8FD;
    --brand-quaternary-100: #DFF0FA;
    --brand-quaternary-200: #C6E5F7;
    --brand-quaternary-300: #9FD5F1;
    --brand-quaternary-400: #72BCE8;
    --brand-quaternary-500: #50A1E1;
    --brand-quaternary-600: #3E88D5;
    --brand-quaternary-700: #3272C3;
    --brand-quaternary-800: #2F5D9E;
    --brand-quaternary-900: #2A4F7E;
}