.brand-gms,
[data-brand="gms"] {
    --brand-primary-25: #F4F8FB;
    --brand-primary-50: #E9F0F5;
    --brand-primary-100: #CEDFE9;
    --brand-primary-200: #A2C5D7;
    --brand-primary-300: #70A5C0;
    --brand-primary-400: #4E8BA9;
    --brand-primary-500: #396B88;
    --brand-primary-600: #315A73;
    --brand-primary-700: #2C4D60;
    --brand-primary-800: #294151;
    --brand-primary-900: #1B2A36;

    --brand-secondary-25: #F8F7ED;
    --brand-secondary-50: #EFEED8;
    --brand-secondary-100: #E1E1B5;
    --brand-secondary-200: #CBCD89;
    --brand-secondary-300: #B5B863;
    --brand-secondary-400: #989D45;
    --brand-secondary-500: #727732;
    --brand-secondary-600: #5B602B;
    --brand-secondary-700: #494D27;
    --brand-secondary-800: #404324;
    --brand-secondary-900: #202310;

    --brand-tertiary-25: #FDFAF7;
    --brand-tertiary-50: #FBF6EF;
    --brand-tertiary-100: #F3E8D2;
    --brand-tertiary-200: #E5CFA2;
    --brand-tertiary-300: #D7B272;
    --brand-tertiary-400: #CE9A51;
    --brand-tertiary-500: #C47F3C;
    --brand-tertiary-600: #B06533;
    --brand-tertiary-700: #904B2D;
    --brand-tertiary-800: #763D2A;
    --brand-tertiary-900: #623325;

    --brand-quaternary-25: #FDFDF6;
    --brand-quaternary-50: #FAFBEB;
    --brand-quaternary-100: #F6F7CA;
    --brand-quaternary-200: #F0F098;
    --brand-quaternary-300: #E7E15D;
    --brand-quaternary-400: #DFD030;
    --brand-quaternary-500: #CFB923;
    --brand-quaternary-600: #C2A01E;
    --brand-quaternary-700: #8F6D19;
    --brand-quaternary-800: #77571C;
    --brand-quaternary-900: #3B260D;
}
