.brand-connect {
    --uds-logo-connect-dark-blue: #0075c9;
    --uds-logo-connect-light-blue: #00a7e1;

    --brand-primary-25: #FAFDFF;
    --brand-primary-50: #EFFAFF;
    --brand-primary-100: #DEF4FF;
    --brand-primary-200: #B6EBFF;
    --brand-primary-300: #75DDFF;
    --brand-primary-400: #2CCDFF;
    --brand-primary-500: #029ED3;
    --brand-primary-600: #0093D4;
    --brand-primary-700: #0075AB;
    --brand-primary-800: #00638D;
    --brand-primary-900: #065274;

    --brand-secondary-25: #FFF9F5;
    --brand-secondary-50: #FEF4ED;
    --brand-secondary-100: #FDE6D5;
    --brand-secondary-200: #FBCDA9;
    --brand-secondary-300: #F8AD74;
    --brand-secondary-400: #F68C3B;
    --brand-secondary-500: #F47615;
    --brand-secondary-600: #F5822A;
    --brand-secondary-700: #C55B09;
    --brand-secondary-800: #A44C08;
    --brand-secondary-900: #883E06;

    --brand-tertiary-25: #FCFFF0;
    --brand-tertiary-50: #FAFFE5;
    --brand-tertiary-100: #F2FFC7;
    --brand-tertiary-200: #E5FF95;
    --brand-tertiary-300: #D1FE58;
    --brand-tertiary-400: #BAF526;
    --brand-tertiary-500: #9BDC06;
    --brand-tertiary-600: #80BC00;
    --brand-tertiary-700: #5A8506;
    --brand-tertiary-800: #49690B;
    --brand-tertiary-900: #3D580F;

    --brand-quaternary-25: #F8F7F7;
    --brand-quaternary-50: #F4F3F2;
    --brand-quaternary-100: #E4E1DD;
    --brand-quaternary-200: #CAC5BE;
    --brand-quaternary-300: #ACA398;
    --brand-quaternary-400: #94887B;
    --brand-quaternary-500: #85786D;
    --brand-quaternary-600: #6F625A;
    --brand-quaternary-700: #5C514C;
    --brand-quaternary-800: #504643;
    --brand-quaternary-900: #473E3C;
}

.brand-connect.theme-dark {
    --uds-logo-connect-dark-blue: #ffffff;
    --uds-logo-connect-light-blue: #ffffff;
}