.brand-weatherby {

    --brand-primary-25: #FCF2F5;
    --brand-primary-50: #F9E5EC;
    --brand-primary-100: #E7BECC;
    --brand-primary-200: #DB8AA6;
    --brand-primary-300: #C24D76;
    --brand-primary-400: #B02958;
    --brand-primary-500: #8F0A39;
    --brand-primary-600: #7D0931;
    --brand-primary-700: #6B082A;
    --brand-primary-800: #590724;
    --brand-primary-900: #40051A;

    --brand-secondary-25: #EEF8F7;
    --brand-secondary-50: #DDF2EE;
    --brand-secondary-100: #ACDFD6;
    --brand-secondary-200: #74C9B9;
    --brand-secondary-300: #38B49E;
    --brand-secondary-400: #00A385;
    --brand-secondary-500: #009277;
    --brand-secondary-600: #02846C;
    --brand-secondary-700: #01745F;
    --brand-secondary-800: #006552;
    --brand-secondary-900: #01483B;

    --brand-tertiary-25: #FEFBFD;
    --brand-tertiary-50: #FBF4F8;
    --brand-tertiary-100: #F9EAF2;
    --brand-tertiary-200: #F4D6E5;
    --brand-tertiary-300: #EDB4D0;
    --brand-tertiary-400: #E086B0;
    --brand-tertiary-500: #D36192;
    --brand-tertiary-600: #BF4373;
    --brand-tertiary-700: #A03058;
    --brand-tertiary-800: #892B4B;
    --brand-tertiary-900: #732842;

    --brand-quaternary-25: #FFFAFA;
    --brand-quaternary-50: #FFF2F1;
    --brand-quaternary-100: #FFE1DF;
    --brand-quaternary-200: #FFC8C5;
    --brand-quaternary-300: #FFA29D;
    --brand-quaternary-400: #FF6D64;
    --brand-quaternary-500: #FF4338;
    --brand-quaternary-600: #ED2115;
    --brand-quaternary-700: #C8170D;
    --brand-quaternary-800: #A5170F;
    --brand-quaternary-900: #881A14;
    
    --uds-button-color-primary-default: var(--uds-color-primary-700);
    --uds-button-color-primary-hover: var(--uds-color-primary-500);
    --uds-button-border-primary-default: var(--uds-color-primary-700);
    --uds-button-border-primary-hover: var(--uds-color-primary-500);
}