.brand-modio {
    --uds-logo-modio-black: #202938;
    --uds-logo-modio-blue: #36A5CE;

    --brand-primary-25: #F1FBFD;
    --brand-primary-50: #E5F7FC;
    --brand-primary-100: #C8ECF8;
    --brand-primary-200: #A6DFF1;
    --brand-primary-300: #84D3EB;
    --brand-primary-400: #5EC3E0;
    --brand-primary-500: #3BA9D2;
    --brand-primary-600: #2C91B6;
    --brand-primary-700: #1E799B;
    --brand-primary-800: #065D86;
    --brand-primary-900: #04425F;

    --brand-secondary-25: #F3FBF9;
    --brand-secondary-50: #ECF9F6;
    --brand-secondary-100: #D8F3EC;
    --brand-secondary-200: #B1E7D9;
    --brand-secondary-300: #8BDAC6;
    --brand-secondary-400: #64CEB4;
    --brand-secondary-500: #3ABA9B;
    --brand-secondary-600: #319B81;
    --brand-secondary-700: #277C67;
    --brand-secondary-800: #1D5D4D;
    --brand-secondary-900: #16463A;

    --brand-tertiary-25: #FEFBF5;
    --brand-tertiary-50: #FEF6E7;
    --brand-tertiary-100: #FCEDCF;
    --brand-tertiary-200: #F9DB9F;
    --brand-tertiary-300: #F7C96E;
    --brand-tertiary-400: #F4B73E;
    --brand-tertiary-500: #F4BA42;
    --brand-tertiary-600: #C1840B;
    --brand-tertiary-700: #A9740A;
    --brand-tertiary-800: #744F07;
    --brand-tertiary-900: #573C05;

    --brand-quaternary-25: #F8FBF4;
    --brand-quaternary-50: #F3F8EC;
    --brand-quaternary-100: #E6F1DA;
    --brand-quaternary-200: #CEE4B4;
    --brand-quaternary-300: #B5D68F;
    --brand-quaternary-400: #9CC969;
    --brand-quaternary-500: #8CC04F;
    --brand-quaternary-600: #699636;
    --brand-quaternary-700: #54782B;
    --brand-quaternary-800: #476524;
    --brand-quaternary-900: #2F4318;
}

.brand-modio.theme-dark {
    --uds-logo-modio-black: #ffffff;
    --uds-logo-modio-blue: #ffffff;
}