:root,
.brand-default {


    --brand-primary-25: #F2FAFD;
    --brand-primary-50: #E3F5FA;
    --brand-primary-100: #AEE0F4;
    --brand-primary-200: #78CBEC;
    --brand-primary-300: #41B7E5;
    --brand-primary-400: #00A7E1;
    --brand-primary-500: #009ADD;
    --brand-primary-600: #008DCF;
    --brand-primary-700: #0C6BB0;
    --brand-primary-800: #006AA8;
    --brand-primary-900: #004B88;

    --brand-secondary-25: #FEFBF5;
    --brand-secondary-50: #FEF8EE;
    --brand-secondary-100: #FEEFD6;
    --brand-secondary-200: #FBDCAD;
    --brand-secondary-300: #F9C278;
    --brand-secondary-400: #F59E42;
    --brand-secondary-500: #F2821F;
    --brand-secondary-600: #E36613;
    --brand-secondary-700: #BC4D12;
    --brand-secondary-800: #963E16;
    --brand-secondary-900: #793515;

    --brand-tertiary-25: #EFF2F5;
    --brand-tertiary-50: #E6EBF0;
    --brand-tertiary-100: #BFCDDB;
    --brand-tertiary-200: #97ADC3;
    --brand-tertiary-300: #708CAA;
    --brand-tertiary-400: #4F7499;
    --brand-tertiary-500: #295D8B;
    --brand-tertiary-600: #215583;
    --brand-tertiary-700: #174B77;
    --brand-tertiary-800: #12416B;
    --brand-tertiary-900: #0F3152;

    --brand-quaternary-25: #FEFDF6;
    --brand-quaternary-50: #FDFBED;
    --brand-quaternary-100: #F8F3CB;
    --brand-quaternary-200: #F1E796;
    --brand-quaternary-300: #EAD55F;
    --brand-quaternary-400: #F8CA10;
    --brand-quaternary-500: #FBB03A;
    --brand-quaternary-600: #C3841C;
    --brand-quaternary-700: #A26E1B;
    --brand-quaternary-800: #845C1C;
    --brand-quaternary-900: #6D4D1A;
}