:root,
.brand-default,
[data-brand="default"] {

    --brand-primary-25: #F7F7F7;
    --brand-primary-50: #EFEFEF;
    --brand-primary-100: #D9D9D9;
    --brand-primary-200: #BDBDBD;
    --brand-primary-300: #9E9E9E;
    --brand-primary-400: #7A7A7A;
    --brand-primary-500: #5C5C5C;
    --brand-primary-600: #444444;
    --brand-primary-700: #2F2F2F;
    --brand-primary-800: #1F1F1F;
    --brand-primary-900: #111111;

    --brand-secondary-25: #EFF2F5;
    --brand-secondary-50: #E6EBF0;
    --brand-secondary-100: #BFCDDB;
    --brand-secondary-200: #97ADC3;
    --brand-secondary-300: #708CAA;
    --brand-secondary-400: #4F7499;
    --brand-secondary-500: #295D8B;
    --brand-secondary-600: #215583;
    --brand-secondary-700: #174B77;
    --brand-secondary-800: #12416B;
    --brand-secondary-900: #0F3152;

    --brand-tertiary-25: #FEFBF5;
    --brand-tertiary-50: #FEF8EE;
    --brand-tertiary-100: #FEEFD6;
    --brand-tertiary-200: #FBDCAD;
    --brand-tertiary-300: #F9C278;
    --brand-tertiary-400: #F59E42;
    --brand-tertiary-500: #F2821F;
    --brand-tertiary-600: #E36613;
    --brand-tertiary-700: #BC4D12;
    --brand-tertiary-800: #963E16;
    --brand-tertiary-900: #793515;

    --brand-quaternary-25: #F2FAFD;
    --brand-quaternary-50: #E3F5FA;
    --brand-quaternary-100: #AEE0F4;
    --brand-quaternary-200: #78CBEC;
    --brand-quaternary-300: #41B7E5;
    --brand-quaternary-400: #00A7E1;
    --brand-quaternary-500: #009ADD;
    --brand-quaternary-600: #008DCF;
    --brand-quaternary-700: #0C6BB0;
    --brand-quaternary-800: #006AA8;
    --brand-quaternary-900: #004B88;
}