@use "./phone-input.tokens" as *;

.ds-phone-input {
  padding: $phone-input-example;
  background: var(--color-surface-1);
  border: 1px solid var(--color-border-subtle);
  border-radius: var(--radius-sm);
}
