:root {
    --uds-blur-0: 0px;
    --uds-blur-sm: 4px;
    --uds-blur-md: 8px;
    --uds-blur-lg: 12px;
    --uds-blur-xl: 16px;
    --uds-blur-2xl: 20px;
    --uds-blur-3xl: 24px;
    --uds-blur-4xl: 28px;
    --uds-blur-5xl: 32px;
    --uds-blur-6xl: 36px;
    --uds-blur-2xl: 40px;
}