:root {
    --uds-elevation-base: 0;
    --uds-elevation-dropdown: 500;
    --uds-elevation-menu: 1000;
    --uds-elevation-modal: 1300;
    --uds-elevation-overlay: 1100;
    --uds-elevation-sticky: 100;
    --uds-elevation-toast: 1400;
    --uds-elevation-tooltip: 1500;
}