:root {
    --uds-radius-0: 0px;
    --uds-radius-2: 2px;
    --uds-radius-4: 4px;
    --uds-radius-6: 6px;
    --uds-radius-8: 8px;
    --uds-radius-12: 12px;
    --uds-radius-16: 16px;
    --uds-radius-20: 20px;
    --uds-radius-24: 24px;
    --uds-radius-9999: 9999px;
  }