:root {
    --uds-sizing-12: 3rem;
    --uds-sizing-16: 4rem;
    --uds-sizing-20: 5rem;
    --uds-sizing-24: 6rem;
    --uds-sizing-32: 8rem;
    --uds-sizing-40: 10rem;
    --uds-sizing-48: 12rem;
  }