.uds-button-group {
    display: inline-flex;
    gap: var(--uds-spacing-0);
    align-items: center;

    .uds-button-group__button,
    .uds-button {
        flex: 1 1 0;
        min-width: 0;
        z-index: 0;

        &:hover {
            z-index: 2;
        }

        &:focus-visible {
            z-index: 3;
        }
    }

    &--horizontal {
        flex-direction: row;
        align-items: center;

        .uds-button {
            border-radius: 0;

            & + .uds-button {
                margin-left: calc(-1 * var(--uds-border-width-1));
            }

            &:first-child {
                border-top-left-radius: var(--uds-radius-4);
                border-bottom-left-radius: var(--uds-radius-4);
            }

            &:last-child {
                border-top-right-radius: var(--uds-radius-4);
                border-bottom-right-radius: var(--uds-radius-4);
            }
        }
    }

    &--vertical {
        flex-direction: column;
        align-items: stretch;

        .uds-button {
            border-radius: 0;
            width: 100%;

            & + .uds-button {
                margin-top: calc(-1 * var(--uds-border-width-1));
            }

            &:first-child {
                border-top-left-radius: var(--uds-radius-4);
                border-top-right-radius: var(--uds-radius-4);
            }

            &:last-child {
                border-bottom-left-radius: var(--uds-radius-4);
                border-bottom-right-radius: var(--uds-radius-4);
            }
        }
    }

}