@use "../../tokens/primitives/typography.primitives" as *;

.uds-empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--uds-gap-24);
  width: 100%;
  padding: var(--uds-spacing-16);
  text-align: center;

  &--left {
    align-items: flex-start;
    text-align: left;
  }

  &__icon {
    display: inline-flex;
    background-color: var(--uds-color-primary-50);
    color: var(--uds-color-primary-500);
    border-radius: var(--uds-radius-9999);
    padding: var(--uds-spacing-16);

    svg {
      color: inherit;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 560px;
  }

  &__title {
    @include uds-heading-24-medium;
    color: var(--uds-text-primary);
  }

  &__description {
    @include uds-body-16;
    color: var(--uds-text-secondary);
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: var(--uds-gap-16);
  }
}
