:root {
    --uds-logo-comphealth-orange: #ef681f;
    --uds-logo-comphealth-purple: #644d7b;
    --uds-logo-comphealth-white: #ffffff;

    --uds-logo-connect-dark-blue: #0075c9;
    --uds-logo-connect-light-blue: #00a7e1;

    --uds-logo-ds-black: #111111;

    --uds-logo-locumsmart-black: #111111;
    --uds-logo-locumsmart-blue: #009ADD;
    --uds-logo-locumsmart-orange: #D7951B;

    --uds-logo-modio-black: #202938;
    --uds-logo-modio-blue: #36A5CE;

    --uds-logo-weatherby-red: #D36192;
    --uds-logo-weatherby-teal: #009277;
    --uds-logo-weatherby-white: #ffffff;

    --uds-logo-wireframe-black: var(--uds-color-black);
    --uds-logo-wireframe-blue: #00A7E1;
    --uds-logo-wireframe-green: #80BC00;
    --uds-logo-wireframe-orange: #FF8300;
}

.theme-dark {
    --uds-logo-comphealth-orange: #ffffff;
    --uds-logo-comphealth-purple: #ffffff;
    --uds-logo-comphealth-white: #111111;

    --uds-logo-connect-dark-blue: #ffffff;
    --uds-logo-connect-light-blue: #ffffff;

    --uds-logo-ds-black: #FFFFFF;

    --uds-logo-locumsmart-black: #ffffff;
    --uds-logo-locumsmart-blue: #ffffff;
    --uds-logo-locumsmart-orange: #ffffff;

    --uds-logo-modio-black: #ffffff;
    --uds-logo-modio-blue: #ffffff;

    --uds-logo-weatherby-red: #ffffff;
    --uds-logo-weatherby-teal: #ffffff;
    --uds-logo-weatherby-white: #111111;

    --uds-logo-wireframe-black: #ffffff;        
    --uds-logo-wireframe-blue: #ffffff;
    --uds-logo-wireframe-green: #ffffff;
    --uds-logo-wireframe-orange: #ffffff;
}