:root {
    --uds-code-bg:var(--uds-color-neutrals-900);
    --uds-code-class: var(--uds-color-accent-fuchsia-400);
    --uds-code-comment: var(--uds-color-neutrals-500);
    --uds-code-fg: var(--uds-color-neutrals-100);
    --uds-code-function: var(--uds-color-accent-violet-400);
    --uds-code-keyword: var(--uds-color-accent-sky-400);
    --uds-code-number: var(--uds-color-accent-amber-400);
    --uds-code-operator: var(--uds-color-accent-rose-400);
    --uds-code-punctuation: var(--uds-color-neutrals-400);
    --uds-code-string: var(--uds-color-accent-emerald-400);
}

.theme-dark {
    --uds-code-bg:var(--uds-color-neutrals-900);
    --uds-code-class: var(--uds-color-accent-fuchsia-400);
    --uds-code-comment: var(--uds-color-neutrals-500);
    --uds-code-fg: var(--uds-color-neutrals-100);
    --uds-code-function: var(--uds-color-accent-violet-400);
    --uds-code-keyword: var(--uds-color-accent-sky-400);
    --uds-code-number: var(--uds-color-accent-amber-400);
    --uds-code-operator: var(--uds-color-accent-rose-400);
    --uds-code-punctuation: var(--uds-color-neutrals-400);
    --uds-code-string: var(--uds-color-accent-emerald-400);
}