:root {
    --uds-icon-primary: var(--uds-color-neutrals-800);
    --uds-icon-secondary: var(--uds-color-neutrals-600);
    --uds-icon-tertiary: var(--uds-color-neutrals-500);
    --uds-icon-quaternary: var(--uds-color-neutrals-300);
    --uds-icon-disabled: var(--uds-color-neutrals-400);
    --uds-icon-placeholder: var(--uds-color-neutrals-400);
    --uds-icon-inverse: var(--uds-color-white);
    --uds-icon-brand-primary: var(--uds-color-primary-500);
    --uds-icon-brand-secondary: var(--uds-color-primary-50);
    --uds-icon-brand-tertiary: var(--uds-color-primary-700);
    --uds-icon-brand-quaternary: var(--uds-color-primary-900);
    --uds-icon-link-primary-default: var(--uds-color-sky-600);
    --uds-icon-link-primary-hover: var(--uds-color-sky-800);
    --uds-icon-link-primary-active: var(--uds-color-sky-800);
    --uds-icon-link-primary-visited: var(--uds-color-sky-800);
    --uds-icon-link-secondary-default: var(--uds-color-black);
    --uds-icon-link-secondary-hover: var(--uds-color-neutrals-700);
    --uds-icon-link-secondary-active: var(--uds-color-black);
    --uds-icon-link-secondary-visited: var(--uds-color-neutrals-500);
}

.theme-dark {
    --uds-icon-primary: var(--uds-color-white);
    --uds-icon-secondary: var(--uds-color-neutrals-50);
    --uds-icon-tertiary: var(--uds-color-neutrals-100);
    --uds-icon-quaternary: var(--uds-color-neutrals-200);
    --uds-icon-placeholder: var(--uds-color-neutrals-400);
    --uds-icon-disabled: var(--uds-color-neutrals-500);
    --uds-icon-inverse: var(--uds-color-black);
    --uds-icon-brand-primary: var(--uds-color-primary-500);
    --uds-icon-brand-secondary: var(--uds-color-primary-50);
    --uds-icon-brand-tertiary: var(--uds-color-primary-700);
    --uds-icon-brand-quaternary: var(--uds-color-primary-900);
    --uds-icon-link-primary-default: var(--uds-color-primary-600);
    --uds-icon-link-primary-hover: var(--uds-color-primary-800);
    --uds-icon-link-primary-active: var(--uds-color-primary-800);
    --uds-icon-link-primary-visited: var(--uds-color-primary-800);
    --uds-icon-link-secondary-default: var(--uds-color-white);
    --uds-icon-link-secondary-hover: var(--uds-color-neutrals-100);
    --uds-icon-link-secondary-active: var(--uds-color-white);
    --uds-icon-link-secondary-visited: var(--uds-color-neutrals-300);
}