:root {
    --uds-scrim-10: rgba(0, 0, 0, 0.1);
    --uds-scrim-30: rgba(0, 0, 0, 0.3);
    --uds-scrim-50: rgba(0, 0, 0, 0.5);
    --uds-scrim-70: rgba(0, 0, 0, 0.6);
    --uds-scrim-90: rgba(0, 0, 0, 0.8);
}

.theme-dark {
    --uds-scrim-10: rgba(249, 250, 252, 0.1);
    --uds-scrim-30: rgba(249, 250, 252, 0.3);
    --uds-scrim-50: rgba(249, 250, 252, 0.5);
    --uds-scrim-70: rgba(249, 250, 252, 0.7);
    --uds-scrim-90: rgba(249, 250, 252, 0.9);
}