:root {
    --uds-system-action-primary: var(--uds-color-accent-blue-600);
    --uds-system-action-secondary: var(--uds-color-accent-blue-400);
    --uds-system-action-tertiary: var(--uds-color-accent-blue-200);
    --uds-system-action-quaternary: var(--uds-color-accent-blue-50);

    --uds-system-constructive-primary: var(--uds-color-accent-green-600);
    --uds-system-constructive-secondary: var(--uds-color-accent-green-400);
    --uds-system-constructive-tertiary: var(--uds-color-accent-green-300);
    --uds-system-constructive-quaternary: var(--uds-color-accent-green-50);

    --uds-system-destructive-primary: var(--uds-color-accent-red-600);
    --uds-system-destructive-secondary: var(--uds-color-accent-red-400);
    --uds-system-destructive-tertiary: var(--uds-color-accent-red-200);
    --uds-system-destructive-quaternary: var(--uds-color-accent-red-50);
    
    --uds-system-warning-primary: var(--uds-color-accent-yellow-600);
    --uds-system-warning-secondary: var(--uds-color-accent-yellow-400);
    --uds-system-warning-tertiary: var(--uds-color-accent-yellow-100);
    --uds-system-warning-quaternary: var(--uds-color-accent-yellow-50);
}

.theme-dark {
    --uds-system-action-primary: var(--uds-color-accent-blue-100);
    --uds-system-action-secondary: var(--uds-color-accent-blue-200);
    --uds-system-action-tertiary: var(--uds-color-accent-blue-400);
    --uds-system-action-quaternary: var(--uds-color-accent-blue-600);

    --uds-system-constructive-primary: var(--uds-color-accent-green-100);
    --uds-system-constructive-secondary: var(--uds-color-accent-green-200);
    --uds-system-constructive-tertiary: var(--uds-color-accent-green-400);
    --uds-system-constructive-quaternary: var(--uds-color-accent-green-500);

    --uds-system-destructive-primary: var(--uds-color-accent-red-200);
    --uds-system-destructive-secondary: var(--uds-color-accent-red-300);
    --uds-system-destructive-tertiary: var(--uds-color-accent-red-400);
    --uds-system-destructive-quaternary: var(--uds-color-accent-red-600);

    --uds-system-warning-primary: var(--uds-color-accent-yellow-100);
    --uds-system-warning-secondary: var(--uds-color-accent-yellow-200);
    --uds-system-warning-tertiary: var(--uds-color-accent-yellow-400);
    --uds-system-warning-quaternary: var(--uds-color-accent-yellow-600);
}