:root {
    --uds-text-primary: var(--system-color-neutrals-800);
    --uds-text-secondary: var(--system-color-neutrals-600);
    --uds-text-tertiary: var(--system-color-neutrals-500);
    --uds-text-quaternary: var(--system-color-neutrals-300);
    --uds-text-disabled: var(--system-color-neutrals-400);
    --uds-text-placeholder: var(--system-color-neutrals-400);
    --uds-text-inverse: var(--system-color-white);
    --uds-text-brand-primary: var(--system-color-primary-500);
    --uds-text-brand-secondary: var(--system-color-primary-50);
    --uds-text-brand-tertiary: var(--system-color-primary-700);
    --uds-text-brand-quaternary: var(--system-color-primary-900);
    --uds-text-link-primary-default: var(--system-color-accent-sky-600);
    --uds-text-link-primary-hover: var(--system-color-accent-sky-800);
    --uds-text-link-primary-active: var(--system-color-accent-sky-800);
    --uds-text-link-primary-visited: var(--system-color-accent-sky-800);
    --uds-text-link-secondary-default: var(--system-color-black);
    --uds-text-link-secondary-hover: var(--system-color-neutrals-700);
    --uds-text-link-secondary-active: var(--system-color-black);
    --uds-text-link-secondary-visited: var(--system-color-neutrals-500);
}

.theme-dark {
    --uds-text-primary: var(--system-color-white);
    --uds-text-secondary: var(--system-color-neutrals-50);
    --uds-text-tertiary: var(--system-color-neutrals-100);
    --uds-text-quaternary: var(--system-color-neutrals-200);
    --uds-text-placeholder: var(--system-color-neutrals-400);
    --uds-text-disabled: var(--system-color-neutrals-400);
    --uds-text-inverse: var(--system-color-black);
    --uds-text-brand-primary: var(--system-color-primary-500);
    --uds-text-brand-secondary: var(--system-color-primary-50);
    --uds-text-brand-tertiary: var(--system-color-primary-700);
    --uds-text-brand-quaternary: var(--system-color-primary-900);
    --uds-text-link-primary-default: var(--system-color-primary-600);
    --uds-text-link-primary-hover: var(--system-color-primary-800);
    --uds-text-link-primary-active: var(--system-color-primary-800);
    --uds-text-link-primary-visited: var(--system-color-primary-400);
    --uds-text-link-secondary-default: var(--system-color-white);
    --uds-text-link-secondary-hover: var(--system-color-neutrals-200);
    --uds-text-link-secondary-active: var(--system-color-white);
    --uds-text-link-secondary-visited: var(--system-color-white);
}